<h1>Welcome to your celebrity list!</h1>


{{#each celebrities}}
<ul>
    <li>Celebrity Name: {{this.name}}</li>
    <a href="/celebrities/{{this._id}}/edit">Edit</a> //
    <a href="/celebrities/celebrity-details/{{this._id}}">Details</a> //
    <a href="/celebrities/{{this._id}}/delete">Delete</a>
    
</ul>
<hr>
{{/each}}

<a href="/celebrities/new">Create a new celebrity</a>