<h2>Create a New Celebrity!</h2>
<form
  method="post"
  action="/celebrities/create"
  enctype="multipart/form-data"
  class="form">


  <label for="name" class="label">Name</label>
  <input class="input" type="text" id="name" name="name" value="" />

  <label for="occupation" class="label">Occupation</label>
  <input class="input" type="text" id="occupation" name="occupation" value="Celebrity Occupation" />

  <label for="catchPhrase" class="label">CatchPhrase</label>
  <input class="input" type="text" id="catchPhrase" name="catchPhrase" value="Celebrity CatchPhrae" />

  <button class="btn" type="submit">Create!</button>
</form>

